.vco-timeline .vco-navigation .timenav-background .timenav-tag-row-1 {background-color: #add8c7;}
.vco-timeline .vco-navigation .timenav-background .timenav-tag-row-2 {background-color: #fcfbe3;}
.vco-timeline .vco-navigation .timenav-background .timenav-tag-row-3 {background-color: #bae4e5;}
.vco-timeline .vco-navigation .timenav-background .timenav-tag-row-4 {background-color: #ffeeee;}
.vco-timeline .vco-navigation .timenav-background .timenav-tag-row-5 {background-color: #c0addb;}
.vco-timeline .vco-navigation .timenav-background .timenav-tag div h3 {color: #555;}
