@import "../../bower_components/skeleton/css/normalize.css";
@import "../../bower_components/skeleton/css/skeleton.css";
@import "../../bower_components/font-awesome/css/font-awesome.css";
@import "../../node_modules/pikaday/css/pikaday.css";

.mht-timeline-editor {
  .preview-iframe-container {
    display: none;
  }
  @media (min-width: 550px) {
    .preview-iframe-container {
      display: block;
      position: relative;
      width: 100%;
      iframe {
        position: fixed;
        right: 2rem;
        top: 2rem;
        box-shadow: 0px 0px 2px #000;
      }
    }
  }
  a.nav-link {
    color: #222;
    font-weight: bold;
    text-decoration: none;
  }

  .row-number {
    display: block;
    font-size: 4rem;
  }
  @media (min-width: 550px) {
    .row-number {
      display: inline-block;
      font-size: 4rem;
      position: absolute;
      left: -4rem;
    }
  }

  .edit-row-form {
    background-color: #eee;
    padding: 1em;
  }
  // Animation for adding/removing rows
  .edit-row-forms-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
    &.edit-row-forms-enter-active { opacity: 1; }
  }
  .edit-row-forms-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
    &.edit-row-forms-leave-active { opacity: 0.01; }
  }

  a.delete-link { color: #333; text-decoration: none; }
  a.delete-link:hover { background-color: red; color: white }

  .button-primary[disabled] {
    background-color: #abb;
    border-color: #abb;
  }
  input {
    max-width: 100%;
    &.error {
      border-color: #900;
    }
  }

  .help-block {
    display: block;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 0.5rem;
    color: #aaa;
    &.error {
      color: #900;
    }
  }

}
