@import "./bootstrap.less";
@import "../../bower_components/font-awesome/css/font-awesome.css";
@import "../../node_modules/pikaday/css/pikaday.css";

// prevent sub-containers from creeping outside their parents.
.mht-timeline-editor .container,
.modal-dialog .container {
  width: auto;
}
.tooltip {
  // raleway's a bit thin for tooltips
  font-weight: bold;
}

.mht-timeline-editor {
  /*
   * Page basics
   */
  position: relative;
  height: 100%;
  // Add height to react's default container.
  & > div { height: 100%; }

  // Links and navs
  a.delete-link { color: #333; text-decoration: none; }
  a.delete-link:hover { background-color: red; color: white }
  .linkless-nav-item {
    position: relative;
    padding: 10px 15px;
    display: block;
    a, a:visited { color: @navbar-default-link-color };
  }
  .linkless-nav-item:hover {
    background-color: @navbar-default-link-hover-bg;
  }
  a.block {
    display: block;
  }

  // components

  .sidebar-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 600px;
    max-width: 80%;
    background-color: white;
    box-shadow: 2px 0px 2px #000;
    overflow: auto;
    &.stow {
      display: none;
    }

    .edit-row-form {
      background-color: #eee;
      margin-bottom: 1em;
      padding: 0.5em;
    }
  }

  .row-number {
    font-size: 2em;
  }

  .media-link-list i.fa {
    padding: 0 0.2em;
  }
}
